<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593793289968-sn85lrci0ec03sn2rif5m98rihtji1j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593793289968-sn85lrci0ec03sn2rif5m98rihtji1j1</string>
	<key>API_KEY</key>
	<string>AIzaSyDKJh7BtCH_LKKjsHqs4TkMu2zcf_Ku_VI</string>
	<key>GCM_SENDER_ID</key>
	<string>593793289968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-65728</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-65728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593793289968:ios:38984662caa043ef42fc35</string>
</dict>
</plist>